<div>
        <div>
        <input type="text" placeholder="Nombre" #nombre /><!-- #asdf ->template reference variable -->
        </div>
        <div>
        <input type="text" placeholder="Apellido" #apellido1 />
        </div>
        <div>
        <input type="text" placeholder="Apellido 2" #apellido2 />
        </div>
        <div>
        <input type="text" placeholder="Teléfono" #telefono />
        </div>
        <div>
        <input type="text" placeholder="DNI" #dni />
        </div>
        <div>
        <input type="text" placeholder="Email" #email />
        </div>
        <div>
        <app-listado-rol (rol)="rolDefinido($event)"></app-listado-rol> <!-- (rol)->output, se escucha del hijo // rolDefinido ->funcion -->
        </div>
        <div>
            <app-jornadas (jornada)="jornadasDefinidas($event)">
            </app-jornadas>
        </div>
        <div>
            <button (click)="crearAlumno(
            nombre.value,
            apellido1.value,
            apellido2.value,
            telefono.value,
            dni.value,
            email.value
            )">
            CREAR ALUMNO
        </button>
        </div>
    
    </div>
    

    <button (click)="salir()">SALIR</button>