.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    
    }
    .email{
    width: 236px;
    }
    .example-card{
    margin: 0 auto;
    width: 25%;
    top:10%;
    }
    
    @media (max-width: 900px) {
    .example-card{
    width: 60%;
    }
    }
    
    